version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: mern_mongodb_dev
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - mern-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mern_backend_dev
    environment:
      NODE_ENV: development
      PORT: 5000
      MONGO_URI: mongodb://admin:admin123@mongodb:27017/productDB?authSource=admin
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    networks:
      - mern-network
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev   

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: mern_frontend_dev
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - mern-network
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0  
networks:
  mern-network:
    driver: bridge

volumes:
  mongodb_data:
    driver: local